<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">S No</th>
    <th scope="col">Blood Group</th>
    <th scope="col">Can Donate to</th>
    <th scope="col">Can Receive From</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>A+</td>
    <td>A+, AB+</td>
    <td>A+ ,A- ,O+ ,O-</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>O+</td>
    <td>O+ ,A+ ,B+ ,AB+</td>
    <td>O+ ,O-</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>B+</td>
    <td>B+ ,AB+</td>
    <td>B+ ,B- ,O+ ,O-</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>AB+</td>
    <td>AB+</td>
    <td>Everyone</td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td>A-</td>
    <td>A+ ,A- ,AB+ ,AB-</td>
    <td>A- ,O-</td>
  </tr>
  <tr>
    <th scope="row">6</th>
    <td>O-</td>
    <td>Everyone</td>
    <td>O-</td>
  </tr>
  <tr>
    <th scope="row">7</th>
    <td>B-</td>
    <td>B+ ,B- ,AB+ ,AB-</td>
    <td>B- ,O-</td>
  </tr>

  <tr>
    <th scope="row">8</th>
    <td>AB-</td>
    <td>AB+ ,AB-</td>
    <td>AB- ,B- ,A- ,O-</td>
  </tr>
  </tbody>
</table>
