<div class="tab">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <form [formGroup]="donateForm" (ngSubmit)="submitDonateForm()">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" name="name" formControlName="name">
                <div class="help-block" *ngIf="donateForm.controls.name.touched" style="text-align: center">
                  <div *ngIf="donateForm.controls.name.errors?.['required']" style="color: red">
                    *Name is required
                  </div>
                  <div *ngIf="donateForm.controls.name.errors?.['minlength']" style="color: red">
                    *Minimum length of the name should be 8
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="age">Age</label>
                <input type="number" id="age" class="form-control" min="18" name="age" formControlName="age">
                <div class="help-block" *ngIf="donateForm.controls.age.touched" style="text-align: center">
                  <div *ngIf="donateForm.controls.age.errors?.['required']" style="color: red">
                    *Age is required
                  </div>
                  <div *ngIf="donateForm.controls.age.errors?.['min']" style="color: red">
                    *Minimum age should be 18
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="bloodgroup">Blood Group</label>
                <input class="form-control" type="text" id="bloodgroup" name="bloodgroup" formControlName="bloodgroup">
                <div class="help-block" *ngIf="donateForm.controls.bloodgroup.touched" style="text-align: center">
                  <div *ngIf="donateForm.controls.bloodgroup.errors?.['required']" style="color: red">
                    *Bloodgroup is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="contact">Contact Number</label>
                <input type="tel" id="contact" class="form-control" name="contact" formControlName="contactnumber">
                <div class="help-block" *ngIf="donateForm.controls.contactnumber.touched" style="text-align: center">
                  <div *ngIf="donateForm.controls.contactnumber.errors?.['required']" style="color: red">
                    *Contact number is required
                  </div>
                  <div *ngIf="donateForm.controls.contactnumber.errors?.['minlength'] || donateForm.controls.contactnumber.errors?.['maxlength']" style="color: red">
                    *Length of the contact number should be 10
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="acontact">Alternate Contact Number</label>
                <input type="tel" id="acontact" class="form-control" name="acontact" formControlName="alternatecontact">
                <div class="help-block" *ngIf="donateForm.controls.alternatecontact.touched" style="text-align: center">
                  <div *ngIf="donateForm.controls.alternatecontact.errors?.['required']" style="color: red">
                    Alternate Contact number is required
                  </div>
                  <div *ngIf="donateForm.controls.alternatecontact.errors?.['minlength'] || donateForm.controls.alternatecontact.errors?.['maxlength']" style="color: red">
                    Length of the contact number should be 10
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2">
              <div class="form-group">
                <label for="state">State</label>
                <input type="tel" id="state" class="form-control" name="state" formControlName="state">
                <div class="help-block" *ngIf="donateForm.controls.state.touched" style="text-align: center">
                  <div *ngIf="donateForm.controls.state.errors?.['required']" style="color: red">
                    State is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <label for="district">District</label>
                <input type="tel" id="district" class="form-control" name="district" formControlName="district">
                <div class="help-block" *ngIf="donateForm.controls.district.touched" style="text-align: center">
                  <div *ngIf="donateForm.controls.district.errors?.['required']" style="color: red">
                    District is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <label for="district">City</label>
                <input type="tel" id="city" class="form-control" name="city" formControlName="city">
                <div class="help-block" *ngIf="donateForm.controls.city.touched" style="text-align: center">
                  <div *ngIf="donateForm.controls.city.errors?.['required']" style="color: red">
                    City is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-primary" type="submit" [disabled]="!donateForm.valid">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
